<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>tectiv3</string>
	<key>description</key>
	<string>Language Server Protocol client.</string>
	<key>name</key>
	<string>PHP LSP</string>
	<key>uuid</key>
	<string>D5598917-659F-4987-BBFA-C6BF9C363387</string>
</dict>
</plist>
